html, body {
  height: 100%;
  font-family: 'Helveticaneue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.2em;
  font-style: oblique;
  font-weight: bold;
}
.holder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#strategy {
  text-align: center;
  word-wrap: break-word;
  cursor: pointer;
}
